<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/scripts/jquery.validate.date.js"></script>
    <link href="/Content/bootstrap-datetimepicker.css" />


</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img class="navbar-brand" src='@Url.Content("/images/venture_img.png")' />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        @Html.ActionLink("Order", "ViewOrders", "Orders")
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Create New order", "newOrder", "Orders")</li>
                            <li>@Html.ActionLink("Import Orders (via Excel)", "importOrderCSV", "Orders")</li>
                            <li>@Html.ActionLink("View/Edit Orders", "ViewOrders", "Orders")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        @Html.ActionLink("Part", "ViewParts", "Part")
                        <ul class="dropdown-menu">

                            <li>
                                @Html.ActionLink("Create Part", "newPart", "Part")
                            </li>
                            <li>
                                @Html.ActionLink("View/Edit Parts", "ViewParts", "Part")
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Manufacturing", "ViewManufacturing", "Manufacturing")
                        <ul class="dropdown-menu">

                            <li>
                                @Html.ActionLink("Create Manufacturing Time", "newManufacturingTime", "Manufacturing")
                            </li>
                            <li>@Html.ActionLink("Import Manufacturing Time (via Excel)", "importManufacturingCSV", "Manufacturing")</li>

                            <li>
                                @Html.ActionLink("View/Edit Manufacturing Time", "ViewManufacturing", "Manufacturing")
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Schedule", "ViewSchedules", "Schedule")
                        <ul class="dropdown-menu">


                            <li>
                                @Html.ActionLink("View/Edit Schedule", "ViewSchedules", "Schedule")
                            </li>

                        </ul>
                    </li>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Venture Schedule</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @if (TempData["UserMessage"] != null)
    {
        var message = TempData["UserMessage"];
        <div class="alert">
            <strong>TempData["UserMessage"]</strong>

        </div>
    }

    <script>
        //this line means we won't do anything until the page is ready for it
        $(document).ready(function () {
            $(".dropdown").hover(function () {
                //toggle the open class (on/off)
                $(this).toggleClass("open");
            });
        })
    </script>



</body>
</html>
