@model Scheduler.Models.Part

@{
    ViewBag.Title = "editPart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Part</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Part</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.partId)

        <div class="form-group">
            @Html.LabelFor(model => model.partName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.partName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.partName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.side, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.side, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.side, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewParts")
</div>
