@model IEnumerable<Scheduler.Models.Part>

@{
    ViewBag.Title = "ViewParts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <script type="text/javascript">

        function deletePart(partId) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover your Part!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        data: { 'partId': partId },
                        url: "/Part/deletePartJson",
                        dataType: "json",
                        success: function (response) {
                            swal("Part has been successfully deleted!", {
                                icon: "success",
                            }).then(function () {
                                window.location.href = "/Part/ViewParts"
                            });

                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });

                }
                else {
                     swal("Operation aborted!");
                }
            });
        }






    </script>


<h2>View Parts</h2>

<p>
    @Html.ActionLink("Create New", "newPart")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.partName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.side)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.partName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.side)
            </td>
            <td>
                @Html.ActionLink("Edit", "editPart", new { partId = item.partId, partName = item.partName , side = item.side }) |
                <a href="#" onclick=deletePart('@item.partId')>Delete</a>
            </td>
        </tr>
    }

</table>


@if (TempData["newPartResult"] != null)
{
    // <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        if (@TempData["newPartResult"] == 1)
            swal("Success!", "New part is added!", "success");
        else if (@TempData["newPartResult"] == 2)
            swal("Success!", "Part is deleted!", "success");
              else if (@TempData["newPartResult"] == 3)
                    swal("Success!", "Part is Updated!", "success");
        else
            swal("Error!", "An error has occurred!", "error");



    </script>
   

   

}

