@model IEnumerable<Scheduler.Models.Schedule>

@{
    ViewBag.Title = "View Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Schedules</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.backendId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BEDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.earlistStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plannedStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latestStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.smtStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.smtEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lineId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.backendId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BEDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.earlistStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plannedStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latestStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smtStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smtEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.orderId }) |
            @Html.ActionLink("Details", "Details", new { id = item.orderId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.orderId })
        </td>
    </tr>
}

</table>
