@model IEnumerable<Scheduler.ViewModel.linePartScheduleViewModel>

@{
    ViewBag.Title = "View Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script type="text/javascript">

    $(window).on("load", function () {
        console.log("window loaded");
    });


    var neworder = new Array();
    var $sortableList = $("#your-list");

    var sortEventHandler = function (event, ui) {
        console.log("New sort order!");


        var listElements = $("#tblLocations").children();

        console.log(listElements); // [ <li>, <li>, ... ]
    };



    $(function () {
        $("#tblLocations").sortable({
            stop: sortEventHandler,
            items: 'tr:not(tr:first-child)',
            cursor: 'pointer',
            axis: 'y',
            dropOnEmpty: false,
            start: function (e, ui) {
                ui.item.addClass("selected");
            },
            stop: function (e, ui) {
                ui.item.removeClass("selected");
            },
            receive: function (e, ui) {
                $(this).find("tbody").append(ui.item);
            },
        });
    });

    $('#submitTest').submit(function () {

        console.log("submit test ")

        if (neworder.length < 1) {
            return false;
        }
        console.log(neworder.length)
        $.ajax({
            url: "/Schedule/SavePriority", type: "POST", dataType: "json",
            data: { 'order': $("#tblLocations").sortable('toArray') },
            success: function (result) {
                $('#ShowResultHere').text(result);
                $("#submitTest").hide();//  .tex.html(result);
            }
        });
        return false;
    });





    $(document.body).on('change', "#statusDDL", function (e) {
        //doStuff
        console.log("status on change called")

        var optVal = $("#statusDDL option:selected").val();
        console.log(optVal)

        var optVal2 = $("#lineDDL option:selected").val();
        console.log(optVal2)



        $.ajax({
            url: "/Schedule/ViewSchedulesStatus",
            type: "POST",
            data: { 'status': optVal, 'lineId': optVal2 },
            success: function (data) {



                console.log("success JS exeuted")
                $("#tblLocations").html(data); // HTML DOM replace

                reloadGallery();


            }
        });





    });




    $(document.body).on('change', "#lineDDL", function (e) {
        //doStuff
        console.log("line onchange called")

        var optVal = $("#statusDDL option:selected").val();
        console.log(optVal)

        var optVal2 = $("#lineDDL option:selected").val();
        console.log(optVal2)



        $.ajax({
            url: "/Schedule/ViewSchedulesStatus",
            type: "POST",
            data: { 'status': optVal, 'lineId': optVal2 },
            success: function (data) {



                console.log("success JS exeuted")
                $("#tblLocations").html(data); // HTML DOM replace

                                reloadGallery();

            }
        });
    });




    





</script>


<script type="text/html">
    .dropdown{
    display: inline-block;
    }
</script>

<head>
</head>
<body>
</body>
@using (Html.BeginForm("ViewSchedules", "Schedule", FormMethod.Post, new { id = "submitTest" }))
{
    <h2>View Schedules</h2>

        <div class="btn-group" >

            @{
                List<SelectListItem> listItemsPriority = new List<SelectListItem>();
                listItemsPriority.Add(new SelectListItem
                {
                    Text = "All status",
                    Value = "null"
                });
                listItemsPriority.Add(new SelectListItem
                {
                    Text = "Scheduled",
                    Value = "scheduled"
                });
                listItemsPriority.Add(new SelectListItem
                {
                    Text = "Processing",
                    Value = "processing",
                    Selected = true
                });
                listItemsPriority.Add(new SelectListItem
                {
                    Text = "Completed",
                    Value = "completed"
                });

            }

            @Html.DropDownList("statusDDL", new SelectList(listItemsPriority, "Value", "Text"), htmlAttributes: new { @class="btn btn-primary dropdown-toggle", @id = "statusDDL" })
            
            @{
                List<SelectListItem> LineItems = new List<SelectListItem>();
                LineItems.Add(new SelectListItem
                {
                    Text = "All lines",
                    Value = "0"
                });
                LineItems.Add(new SelectListItem
                {
                    Text = "SMT_Line_8",
                    Value = "1"
                });
                LineItems.Add(new SelectListItem
                {
                    Text = "SMT_Line_9",
                    Value = "2",
                    Selected = true
                });
                LineItems.Add(new SelectListItem
                {
                    Text = "SMT_Line_10",
                    Value = "3"
                });
                LineItems.Add(new SelectListItem
                {
                    Text = "SMT_Line_11",
                    Value = "4"
                });
                LineItems.Add(new SelectListItem
                {
                    Text = "SMT_Line_12",
                    Value = "5"
                });


            }

            @Html.DropDownList("Line", new SelectList(LineItems, "Value", "Text"), htmlAttributes: new { @class="btn btn-primary dropdown-toggle", @id = "lineDDL" })

        </div>
        <br />
        <br />
        <div class="form-group">

            @*  <table class="table" id="tblLocations">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.orderName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.partName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.lineName)
                        </th>
                        @*
                            <th>
                                @Html.DisplayNameFor(model => model.schedule.BEDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.schedule.earlistStartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.schedule.plannedStartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.schedule.latestStartDate)
                            </th>


                        <th>
                            @Html.DisplayNameFor(model => model.schedule.smtStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.schedule.smtEnd)
                        </th>
                        <th></th>
                    </tr>


                    @foreach (var item in Model)
                    {
                        //@Html.HiddenFor(modelItem => item.schedule.orderId, new { @class = "id" })

                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.orderName)
                                <input type="hidden" name="orderId" id="@item.schedule.orderId" value=" @item.schedule.orderId" />
                                <input type="hidden" name="orderName" id="@item.orderName" value=" @item.orderName" />


                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.partName)
                                <input type="hidden" name="partName" id="@item.partName" value=" @item.partName" />

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.lineName)
                                <input type="hidden" name="lineName" id="@item.lineName" value=" @item.lineName" />
                                <input type="hidden" name="lineName" id="@item.schedule.lineId" value=" @item.schedule.lineId" />

                            </td>
                            @*
                                <td>
                                    @Html.DisplayFor(modelItem => item.schedule.BEDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.schedule.earlistStartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.schedule.plannedStartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.schedule.latestStartDate)
                                </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.schedule.smtStart)
                                <input type="hidden" name="smtStart" id="@item.schedule.smtStart" value=" @item.schedule.smtStart" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.schedule.smtEnd)
                                <input type="hidden" name="smtEnd" id="@item.schedule.smtEnd" value=" @item.schedule.smtEnd" />

                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.schedule.orderId }) |
                                @Html.ActionLink("Details", "scheduleDetails", new { id = item.schedule.orderId, orderName = item.orderName, partName = item.partName, lineName = item.lineName, lineId = item.schedule.lineId, smtStart = item.schedule.smtStart, smtEnd = item.schedule.smtEnd }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.schedule.orderId })
                            </td>
                        </tr>


                    }

                </table>

            *@


            <div id="mydetailsTable">
                @Html.Partial("schedulesPartial")

            </div>

            <input type="submit" value="Update Preference" class="btn btn-primary" />
        </div>
        }

