@model IEnumerable<Scheduler.ViewModel.linePartScheduleViewModel>

@{
    ViewBag.Title = "View Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#tblLocations").sortable({
            items: 'tr:not(tr:first-child)',
            cursor: 'pointer',
            axis: 'y',
            dropOnEmpty: false,
            start: function (e, ui) {
                ui.item.addClass("selected");
            },
            stop: function (e, ui) {
                ui.item.removeClass("selected");
            },
            receive: function (e, ui) {
                $(this).find("tbody").append(ui.item);
            }
        });
    });
</script>


@using (Html.BeginForm("ViewSchedules", "Schedule", FormMethod.Post))
{
    <h2>View Schedules</h2>

    <table class="table" id="tblLocations">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.partName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.lineName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.schedule.BEDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.earlistStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.plannedStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.latestStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.smtStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.smtEnd)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {

            <tr>
                <td>

                    <input type="hidden" name="orderId" value=" @item.schedule.orderId" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.partName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.lineName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.schedule.BEDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.earlistStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.plannedStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.latestStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.smtStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.smtEnd)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.schedule.orderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.schedule.orderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.schedule.orderId })
                </td>
            </tr>


        }

    </table>



    <input type="submit" value="Update Preference" />
}