@model IEnumerable<Scheduler.Models.Order>

@{
    ViewBag.Title = "reviewOrderCSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Orders </h2>
@using (Html.BeginForm("reviewOrderCSVPost", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="result">

        @if (!Model.Equals(0))
        {

            <h2>Error Results:</h2>


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.partId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.projectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lastMaterialDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.shipDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.priority)
                    </th>
                    <th>
                        @Html.DisplayName("Message")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.intTempResult == 0 || item.intTempResult == -1)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.partId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lastMaterialDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.shipDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StringTempResult)
                            </td>

                        </tr>
                    }
                }


            </table>

            <br />

            <h2>Successfully added</h2>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.partId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.projectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lastMaterialDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.shipDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.priority)
                    </th>
                    <th>
                        @Html.DisplayName("Message")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item2 in Model)
                {

                    if (item2.intTempResult != 0)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item2.partId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.projectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.lastMaterialDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.shipDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.StringTempResult)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "editOrderCSV", new { id = item2.orderId }) |
                                @Html.ActionLink("Delete", "deleteOrder", new { id = item2.orderId })
                            </td>
                        </tr>
                    }
                }


            </table>
        }


        <input type="submit" value="Next">

    </div>

}


@if (TempData["newOrderResult"] != null)
{
    // <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        if (@TempData["newOrderResult"] == 1)
            swal("Success!", "New order is added and scheduled!", "success");
             else if (@TempData["newOrderResult"] == -1)
            swal("Error!", "Manufacturing Time Data does not exist for this part.Enter part / line data in Line page or change part.", "error");
              else if (@TempData["newOrderResult"] == 0)
                    swal("Error!",  "unknown error has occurred , please contact administrator.", "error");
        else if (@TempData["newOrderResult"] == 2)
            swal("Success!", "Order is deleted!", "success");

        else
            swal("Error!", "An error has occurred!", "error");

       if (@TempData["newOrderResult"] == 3)
                    swal("Success!", "Order is Updated!", "success");

    </script>
}