@model IEnumerable<Scheduler.Models.Order>

@{
    ViewBag.Title = "reviewOrderCSVPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review orders</h2>
<h4>Please review and confirm orders to be scheduled</h4>


<div class="form-group">
    <input type="hidden" id="btnSelectAll_hidden" value="true">
    <input type="button" id="btnSelectAll" value="Select/Deselect all schedule" class="btn btn-primary">
</div>
@using (Html.BeginForm("reviewOrderCSVSchedule", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table id="tblOrders" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.partId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastMaterialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayName("Schedule?")
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.orderId)
                    <input type="hidden" name="orderId" value=" @item.orderId" />


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.partId, new { @id = item.partId })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectName, new { @id = item.projectName })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastMaterialDate, new { @id = item.lastMaterialDate })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shipDate, new { @id = item.shipDate })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity, new { @id = item.quantity })
                </td>

                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "No",
                                    Value = "unscheduled"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Yes",
                                    Value = "scheduled",
                                    Selected = true
                                });
                            }

                            @**    @Html.DropDownListFor(modelItem => item.status, new SelectList(listItems, "Value", "Text"), new { @id = "status_" + item.orderId, @class = "status", @onchange = "javascript:callChangefunc(this.id,this.value)" }) **@




                            @Html.CheckBoxFor(modelItem => item.statusBool, new { @id = "status_" + item.orderId, @class = "status", @onchange = "javascript:callChangefuncBool(this.id,this.value,this.checked)" })

                            @Html.HiddenFor(modelItem => item.StringTempResult)




                            <input type="hidden" class="hidden_status" name="status" id="hidden_@item.orderId" value=true />






                        </div>
                    </div>
                </td>

                <td>
                    @Html.ActionLink("Edit", "editOrderCSV", new { id = item.orderId }) |
                    @Html.ActionLink("Delete", "deleteOrderCSV", new { id = item.orderId })
                </td>
            </tr>


        }

    </table>
    <div class="form-group">
        <input type="submit" id="btnSave" value="Schedule order" class="btn btn-primary">
    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">


    function callChangefuncBool(id, val, checked) {



        console.log(checked)

        console.log("callChangefuncBool called")
        var arr = id.split('_');
        currentId = arr[1];

        console.log(currentId)


        //set hidden field value
        var s = document.getElementById("hidden_" + currentId);
        //console.log(s.val)

        s.value = checked;
        console.log(s.value)
        console.log(s)
    };

    function callChangefunc(id, val) {



        var arr = id.split('_');
        currentId = arr[1];

        //set hidden field value
        var s = document.getElementById("hidden_" + currentId);
        console.log(s.val)

        s.value = val;
        console.log(s.val)
        console.log(s)

        // $("#" + "hidden_" + currentId).val(val);
        // alert($("#hidden_" + currentId) + val)


    }




    $(function () {
        $("#status").on("change", function () {
            $("#SelectedvendorText").val($(this).text());
        });
    });

    $(function () {
        $("#btnSelectAll").on("click", function () {
            console.log("btnSelectAll activated")
            var allSelected = document.getElementById("btnSelectAll_hidden");
            var allSelectedValue = allSelected.value;
            console.log(allSelected.value);

            if (allSelectedValue == "true") {
                allSelected.value = "false"
                var test = document.getElementsByClassName("status");
                console.log(test);
                $(".status").prop("checked", false);
                $(".hidden_status").prop("value", false);

            }
            else {
                allSelected.value = "true"

                $(".status").checked = true;
                $(".hidden_status").value = true;
            }


        });
    });



    $(function () {

        $('select[name="status"]').on('click', function () {
            alert("test");
            console.log("test");
            var hiddenId = $(this).attr('class');
            var persistValue = $(this).val();
            $('#' + hiddenId).val(persistValue);
        });
    });



    $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.
        var orders = new Array();
        $("#tblOrders TBODY TR").each(function () {
            var row = $(this).val();
            console.log(row);
            var order = {};
            order.id = row.find("TD").eq(0).html();
            order.status = row.find("TD").eq(6).html();
            console.log(order.id);
            alert(order.status);

            order.push(order);

            console.log(order);
        });

        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Home/InsertCustomers",
            data: JSON.stringify(customers),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                alert(r + " record(s) inserted.");
            }
        });
    });







</script>





