@model IEnumerable<Scheduler.Models.Order>

@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

    function deleteOrder(orderId) {
        swal({
            title: "Are you sure?",
                text: "Once deleted, you will not be able to recover your order!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "POST",
                    data: { 'orderId': orderId },
                    url: "/Orders/deleteOrderJson",
                    dataType: "json",
                    success: function (response) {
                        swal("Order has been successfully deleted!", {
                            icon: "success",
                        }).then(function () {
                            window.location.href = "/Orders/ViewOrders"
                        });

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            }
            else {
                swal("Operation aborted!");
            }
        });
        }




          

</script>



<h2>View Orders</h2>
<div class="form-group">
    <p>
        @Html.ActionLink("Create New order", "newOrder")

    </p>

    <p>
        @Html.ActionLink("Import Orders (via Excel)", "importOrderCSV")

    </p>
    @using (Html.BeginForm("reviewOrderCSVPost", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Schedule orders" class="btn btn-primary">
    }
</div>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastMaterialDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastMaterialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>


            <td>

                @if (item.status == "unscheduled" || item.status == "scheduled")
                {
                    @Html.ActionLink("Edit", "editOrder", new { id = item.orderId });
                    @:|            
                    <a href="#"  onclick = deleteOrder('@item.orderId')>Delete</a>
                      //   @Html.ActionLink("Delete", "", null, new { id = item.orderId, @onclick = "deleteOrder('@item.orderId')" });
                }
                
            </td>
        </tr>
    }


</table>






@if (TempData["newOrderResult"] != null)
{
    // <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>



    <script type="text/javascript">









        if (@TempData["newOrderResult"] == 1)
            swal("Success!", "New order is added and scheduled!", "success");
             else if (@TempData["newOrderResult"] == -1)
            swal("Error!", "Manufacturing Time Data does not exist for this part.Enter part / line data in Line page or change part.", "error");
              else if (@TempData["newOrderResult"] == 0)
                    swal("Error!",  "unknown error has occurred , please contact administrator.", "error");
        else if (@TempData["newOrderResult"] == 2)
            swal("Success!", "Order is deleted!", "success");

        else
            swal("Error!", "An error has occurred!", "error");

       if (@TempData["newOrderResult"] == 3)
                swal("Success!", "Order is Updated!", "success");








    </script>
}
