@model IEnumerable<Scheduler.Models.Order>

@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>

<p>
    @Html.ActionLink("Create New", "newOrder")

</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastMaterialDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastMaterialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.orderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.orderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.orderId })
            </td>
        </tr>
    }


</table>






@if (TempData["newOrderResult"] != null)
{
    // <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        if (@TempData["newOrderResult"] == 1)
            swal("Success!", "New order is added!", "success");
        else if (@TempData["newOrderResult"] == 2)
                    swal("Success!", "Order is deleted!", "success");
        else
            swal("Error!", "An error has occurred!", "error");



    </script>
}