@model IEnumerable<Scheduler.ViewModel.PartLineManufacturingViewModel>

@{
    ViewBag.Title = "ViewManufacturing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">

    function deleteManufacturing(selectedLine,selectedPart) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover your manufacturing data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "POST",
                    data: { 'selectedLine': selectedLine,'selectedPart':selectedPart },
                    url: "/Manufacturing/deleteManufacturingJson",
                    dataType: "json",
                    success: function (response) {
                        swal("manufacturing data has been successfully deleted!", {
                            icon: "success",
                        }).then(function () {
                            window.location.href = "/Manufacturing/ViewManufacturing"
                        });

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            }
            else {
                swal("Operation aborted!");
            }
        });
    }






</script>

<h2>View Manufacturing Time</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manufacturingTIme)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturingTIme)
            </td>


            <td>
                @Html.ActionLink("Edit", "updateManufacturingTime", new { selectedLine = item.selectedLine, selectedPart = item.selectedPart, manufacturingTIme = item.manufacturingTIme }) |
                <a href="#" onclick=deleteManufacturing('@item.selectedLine','@item.selectedPart')>Delete</a>

            </td>
        </tr>
    }

</table>


@if (TempData["ManufacturingResult"] != null)
{
    // <p class="alert alert-success" id="successMessage"></p>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
        if (@TempData["ManufacturingResult"] == 1)
            swal("Success!", "New Manufacturing time is added!", "success");
              else if (@TempData["ManufacturingResult"] == 0)
                    swal("Error!",  "unknown error has occurred , please contact administrator.", "error");
        else if (@TempData["ManufacturingResult"] == 2)
            swal("Success!", "Manufacturing time is deleted!", "success");
             else if (@TempData["ManufacturingResult"] == 3)
                    swal("Success!", "Manufacturing time is Updated!", "success");
        else
            swal("Error!", "An error has occurred!", "error");



</script>
}